.heroes-list h2 {
  text-align: center;
}

.heroes {
  margin: 0 auto 2em;
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 450px;
}

.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0 40px 0px 0px;
  height: 40px;
  border-radius: 4px;
  line-height: 40px;
}
.heroes li.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.heroes li span {
	display: inline-block;
}
.heroes .text {
  position: relative;
  top: -3px;
}
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0 0.9em;
  background-color: #607D8B;
  line-height: 40px;
  position: relative;
  height: 100%;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  vertical-align: top;
}
.btn.delete {
  position: absolute;
  right: 5px;
  top:4px;
  height: 32px;
  width: 32px;
  line-height: 30px;
  padding: 0px;
  font-size: 20px;
  
}