.container-fluid {
  max-width: 1000px;
}

.header {
  text-align: center;
}

.btn-width150 {
  width: 150px;
}

.dashboard {
  text-align: center;
}

.dashboard .btn {
  width: 100%;
  max-width: 200px;
  border-radius: 2px;
  padding: 20px;
  max-height: 120px;
}

.selected-hero {
  text-align: center;
}

.edit-hero h2 {
  text-align: center;
}

.edit-hero__btns {
  text-align: center;
}
.edit-hero__btns .btn {
  margin: 0px 10px;
}